<div id="messages-page">
  {{#if errors}}
    <div class="notice error">
      <h2 class="notice-header">Error</h2>
      <ul class="error-list">
        {{#each errors}}
          {{#each this}}
            <li>{{@../key}} {{message}}</li>
          {{/each}}
        {{/each}}
      </ul>
    </div>
  {{/if}}

  <form id="message-form" method="POST" action="/messages">
    <textarea id="message-body-input" name="body" placeholder="Enter a message here."></textarea>
    <button type="submit">Post Messages and Reviews</button>
  </form>

  <div id="messages">
    <h2>Messages</h2>

    {{#unless messages}}
      <p>Sorry, no messages. :(</p>
    {{else}}
      <ol class="message-list">
        {{#each messages}}
          <li>
            <div class="message-body">
              {{body}}
            </div>
            <div class="message-timestamp">
              Posted on {{created_at}}
              <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.fa {
  font-size: 50px;
  cursor: pointer;
  user-select: none;
}

.fa:hover {
  color: darkblue;
}
</style>

<i onclick="myFunction(this)" class="fa fa-thumbs-up"></i>

<script>
function myFunction(x) {
  x.classList.toggle("fa-thumbs-down");
}
</script>


            </div>
          </li>
        {{/each}}
      </ol>
    {{/unless}}
  </div>
</div>
